<!DOCTYPE HTML>
<html lang="en"
	  xmlns:th="http://wwww.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" 
			  content="text/html; charset=UTF-8" />
	    <meta name="viewport"
	          content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="description"
	          content="A simple stock portfolio app">
	    <meta name="author"
	          content="Scott Hensen">
	          
		<title th:text="${myportfolios.title}">Der Title</title>
		<link rel="icon" th:href="@{/favicon.ico}" />
	</head>
	
	<body>
		<p th:text="${myportfolios.message}" />
		<div th:each="portfolio : ${myportfolios.portfolios}">
		<br />
		<p th:text="${portfolio.portfolioName}" />
		<table class="table table-striped table-sm">
			<thead>
				<tr>
					<th th:each="header : ${myportfolios.tableHeaders}" 
						th:text="${header}"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>+</td>
					<td>enter</td>
				</tr>
				<tr th:each="security : ${portfolio.securities}">
					<th th:text="${security.deleteInd}"  ></th>
					<th th:text="${security.symbol}"     ></th>
					<th th:text="${security.bid}"        ></th>
					<th th:text="${security.ask}"        ></th>
					<th th:text="${security.shareQty}"   ></th>
					<th th:text="${security.shareValue}" ></th>
				</tr>
			</tbody>
		</table>
		</div>
	</body>
</html>